.headerWrapper {
  height: 50px;
  width: 100%;
  background-color: #333;
  margin: 0;
  padding: 0; }
  .headerWrapper a {
    text-decoration: none;
    text-align: center;
    color: #fff; }
  .headerWrapper .homeWrapper {
    font-size: 20px;
    padding-left: 10px;
    padding-top: 10px; }
  .headerWrapper .loginsignupWrapper {
    float: right;
    margin-top: -25px;
    padding-right: 10px;
    font-size: 20px; }
    .headerWrapper .loginsignupWrapper a {
      display: inline-block;
      margin-right: 10px; }
  .headerWrapper button {
    border: none;
    background: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    float: right;
    margin-top: -35px; }
